// Button sizes
$button-size-small: 22px;
$button-size-default: 33px;
$button-size-large: 44px;
$button-radius: 3px;

// Button colors
$button-color: color(gray, lightest);
$button-bg-color: color(primary, light);
$button-bg-color-hover: color(primary, mid);
$button-bg-color-disabled: color(primary, darkest);
$button-border-color: color(primary, mid);

$button-alt-color: color(gray, lightest);
$button-alt-bg-color: color(secondary, mid);
$button-alt-bg-color-hover: color(secondary, dark);
$button-alt-bg-color-disabled: color(secondary, darkest);
$button-alt-border-color: color(secondary, dark); 

.button {
    display: inline-block;
    font-size: 18px;
    height: $button-size-default;
    line-height: $button-size-default;

    label {
        cursor: pointer
    }

    &:hover,
    &:focus,
    &:active {
        box-shadow: none;
        cursor: pointer;
    } 

    &.disabled {
        background-color: $button-bg-color-disabled;
        border-color: $button-bg-color-disabled;
        cursor: not-allowed !important;;
    }

    &.inactive {
        background: transparent !important;
        border-color: color(gray, dark);
        color: color(gray, dark) !important;
        cursor: default !important;;
    }
}

.button--small {
    border-radius: $button-radius;
    font-size: 14px;
    height: $button-size-small;
    line-height: $button-size-small;
}

.button--large {
    border-radius: $button-radius;
    height: $button-size-large;
    line-height: $button-size-large;
    text-transform: uppercase;
}

.fc-event,
.fc-event-container .fc-event,
.fc-button.fc-button-primary,
.button__primary {
    background: $button-bg-color;
    border: 1px solid $button-border-color;
    color: $button-color !important;

    &:hover,
    &:focus,
    &:active {
        background-color: $button-bg-color-hover;
        border-color: $button-bg-color-hover;
        cursor: pointer;
    } 
}

.button__secondary.fc-event,
.button__secondary.fc-event-container .fc-event,
.button__secondary.fc-button.fc-button-primary,
.button__secondary {
    background: $button-alt-bg-color;
    border: 1px solid $button-alt-border-color;
    color: $button-alt-color !important;

    &:hover,
    &:focus,
    &:active {
        background-color: $button-alt-bg-color-hover;
        border-color: $button-alt-bg-color-hover;
        box-shadow: none;
        cursor: pointer;
    }

    span {
        text-align: center !important;
    }
}

.fc-button.fc-button-primary,
.button__icon {
    border-radius: $button-radius;
    display: inline-block;
    height: $button-size-large;
    padding: 0;
    margin: 0;
    width: $button-size-large;

    .fc-icon,
    .icon {
        font-weight: 600;
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }

    .icon {
        font-size: $button-size-small;
        line-height: $button-size-large;
    }

    .fc-icon {
        font-size: $button-size-default;
    }
}

.button__icon--minimal {
    height: $button-size-large;
    padding: 0;
    width: $button-size-large;

    .fc-icon,
    .icon {
        font-weight: 600;
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }

    .icon {
        font-size: $button-size-small;
        line-height: $button-size-large;
    }

    .fc-icon {
        font-size: $button-size-default;
    }
}

.dark-mode {
    .fc-event,
    .fc-event-container .fc-event,
    .fc-button.fc-button-primary,
    .button {
        &.inactive {
            border-color: color(gray, lightest);
            color: color(gray, lightest) !important;
        }
    }
}