.nav-bar {
    background: $color-gray-darkest;
    height: 66px;
    width: 100%;
  
    .title {
        color: $color-gray-lightest;
        display: inline-block;
        margin: 0 0 0 20px;
        height: 100%;
        line-height: 66px;
        text-align: left;
        vertical-align: middle;
        width: calc(100% - 90px);
    }
  
    .nav-bar__buttons {
        display: inline-block;
        height: auto;
        margin: 0px 12px;
    
        .button {
            vertical-align: middle;
        }
    }
}