$toolbar-button-container-width: 130px;
$toolbar-events-container-width: calc(100% - #{$toolbar-button-container-width});

.top-bar {
    margin: 68px 0 10px;
  
    .calendar-toggle-container,
    .event-toolbar {
        background: color(gray, mid);
        display: inline-block;
        height: 56px;
        padding: 10px 0;
        vertical-align: middle;
    }
    
    .calendar-toggle-container {
        width: $toolbar-button-container-width;
    }
  
    .event-toolbar {
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
        white-space: nowrap;
        width: $toolbar-events-container-width;
    }
}