.header {
    background: color(gray, darkest);
    height: 66px;
    padding: 0 12px;
}
  
.header__title {
    color: color(gray, lightest);
    display: inline-block;
    margin: 0;
    height: 100%;
    line-height: 66px;
    text-align: left;
    vertical-align: middle;
    width: calc(100% - 46px);
}

.header__buttons {
    display: inline-block;
    height: auto;

    .button {
        vertical-align: middle;
    }
}
