.project-header,
.fc-toolbar.fc-header-toolbar {
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 80px;
    width: calc(100% - 384px);
}

.project-header .project-title{
    display: inline-block;
    line-height: 44px;
    margin: 0 0 0 18px;
    text-align: left;
    width: calc(100% - 18px);
    white-space: nowrap;
}

.fc-toolbar.fc-header-toolbar {
    right: 12px;
    text-transform: uppercase;
    width: 360px;
}