html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: color(gray, darkest);
    font-family: $font-default;
    font-size: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
}
  
h1 {
    font-size: 28px !important;
}
h2 {
    font-size: 24px !important;
}
h3 {
    font-size: 22px !important;
}
h4 {
    font-size: 18px !important;
}
h5 {
    font-size: 16px !important;
}
h6 {
    font-size: 12px !important;
}

p {
    font-size: 16px;
}

span {
    font-size: 12px;
}

div {
    &::-webkit-scrollbar {
        background-color: color(gray, light);
        border-radius: 10px;
        height: 6px;
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background-color: color(gray, light);
    }
    &::-webkit-scrollbar-thumb {
        background-color: color(gray, dark);
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(color(gray, darkest), 0.3);
    }
}

.dark-mode {
    background: color(gray, dark);
    color: color(gray, lightest);

    div {
        &::-webkit-scrollbar {
            background-color: rgba(color(gray, light), 0.1);
        }
        &::-webkit-scrollbar-track {
            background-color: rgba(color(gray, light), 0.1);
        }
        &::-webkit-scrollbar-thumb {
            background-color: color(gray, darkest);
        }
    
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(color(gray, darkest), 0.3);
        }
    }
}

.mobile-only {
	@include breakpoint($small-screen) { display: none; }
}

.center {
	margin-right: auto !important;
	margin-left: auto !important;
	display: block !important;
	text-align: center !important;
}

.hide {
	opacity: 0;
	visibility: hidden;
	display: none;
}

.marg-top-0 { 
	margin-top: 0; 
}

.marg-bottom-0 { 
	margin-bottom: 0; 
}

.marg-left-0 { 
	margin-left: 0; 
}

.marg-right-0 { 
	margin-right: 0; 
}

.marg-vert-0 {
	margin-top: 0; 
	margin-bottom: 0; 
}

.pad-top-0 { 
	padding-top: 0; 
}

.pad-bottom-0 { 
	padding-bottom: 0; 
}

.pad-left-0 { 
	padding-left: 0; 
}

.pad-right-0 { 
	padding-right: 0; 
}

.pad-vert-0 {
	padding-top: 0; 
	padding-bottom: 0; 
}

.pad-vert-4 {
	padding-top: 40px; 
	padding-bottom: 40px; 
}