input[type="text"] {
    color: color(gray, darkest);
    font-family: $font-default;
    height: 30px;
    line-height: 22px;
    padding: 0 4px;
    width: calc(100% - 10px);
}

input[type="file"] {
    display: none;
}

.form-validation {
    font-size: 12px;
    margin: 6px 0;
}

.form-validation--error {
    color: color(alert, error);
}

.form-validation--success {
    color: color(alert, success);
}

.dark-mode {
    input[type="text"] {
        background: rgba(color(gray, mid), 0.2);
        border-color: rgba(color(gray, darkest), 0.3);
        color: color(gray, lightest);
    }
}