$modal-spacing: 10px;

.modal__background {
    background: rgba(color(mono, black), 0.5);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: $z-index-modal-bg;
}
  
.modal {
    background: color(gray, lightest);
    border-radius: 5px;
    box-shadow: 2px 4px 8px rgba(color(mono, black), 0.3);
    left: calc(50% - 300px);
    min-height: 200px;
    padding: 88px $modal-spacing 76px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 600px;
    z-index: $z-index-modal;
}
  
.modal__header {
    background: color(gray, darkest);
    border-radius: 3px 3px 0 0;
    font-size: 24px;
    font-weight: 600;
    height: 44px;
    left: 0;
    line-height: 44px;
    padding: 10px 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: $z-index-modal-header;
}
  
.modal__row {
    margin: 0 0 20px;
}

.modal__buttons {
    position: absolute;
    bottom: $modal-spacing;
    left: $modal-spacing;
    right: $modal-spacing;

    :first-of-type {
        margin-right: 10px;
    }
}

.modal__button--close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: $z-index-modal-close;
}
  
.modal__label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px;
    padding: 4px 0;
    text-align: left;
}

.dark-mode {
    .modal {
        background: color(gray, dark);
    }
}