$toolbar-header-width: 360px;
$toolbar-header-spacing: 36px;
$toolbar-title-width: calc(100% - #{$toolbar-header-width} - #{$toolbar-header-spacing});
$toolbar-button-container-width: 290px;
$toolbar-events-container-width: calc(100% - #{$toolbar-button-container-width});

.toolbar {
    margin: 68px 0 10px;
}
  
.toolbar__buttons,
.toolbar__events {
    background: color(gray, mid);
    display: inline-block;
    height: 56px;
    padding: 10px 0;
    vertical-align: middle;
}

.toolbar__buttons {
    width: $toolbar-button-container-width;

    .button {
        margin-right: 10px;
    }
}

.toolbar__events {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
    width: $toolbar-events-container-width;
}

.fc-dragging.fc-event,
.toolbar__events .fc-event {
    cursor: grab;
    display: inline-block;
    margin: 0 10px 0 0;
    width: 200px;

    .fc-event-name,
    .fc-event-count {
        display: inline-block;
        font-size: 18px;
        font-weight: 600;
    }

    .fc-event-name {
        text-align: left;
        width: calc(75% - 20px);
    }

    .fc-event-count {
        text-align: right;
        width: calc(25% - 20px);
    }
}

.toolbar__title,
.fc-toolbar.fc-header-toolbar {
    overflow: hidden;
    position: absolute;
    top: 10px;
}

.toolbar__title {
    display: inline-block;
    line-height: 44px;
    text-align: left;
    margin: 0 10px;
    width: $toolbar-title-width;
    white-space: nowrap;
}

.fc-toolbar.fc-header-toolbar {  
    right: 10px;
    text-transform: uppercase;
    width: $toolbar-header-width;

    .fc-left,
    .fc-right {
        &:focus {
            outline: none;
        }
    }
}

.dark-mode {
    .toolbar__buttons,
    .toolbar__events {
        background: rgba(color(gray, mid), 0.1);
    }
}