$footer-height: 44px;

.footer {
    background: color(gray, darkest);
    height: $footer-height;
  
    .copyright {
        color: color(gray, lightest);
        line-height: $footer-height;
    }
}
