.csv-import-file {
    background: color(gray, mid);
    border: 1px solid rgba(color(gray, dark), 0.3);
    display: block;
    height: auto;
    min-height: 60px;
    padding: 10px;
}

.form-control-file {
    padding: 10px;
    position: relative;
    top: 10px;
}

.invalid-feedback {
    color: color(alert, error);
    font-size: 12px;
    margin: 6px 0;
}

.dark-mode {
    .csv-import-file {
        background: color(gray, darkest);
        border-color: rgba(color(gray, mid), 0.3);
    }
}