.fc-view-container {
    overflow: hidden;
}

.fc-unthemed .fc-content-skeleton {
    height: 100vh;
    max-height: calc(100vh - 311px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

.fc-event .fc-title {
    font-size: 18px;
    font-weight: 600;
}

.fc-event,
.fc-day-header {
    height: $button-size-large;
    line-height: $button-size-large;
    margin-bottom: 5.5px;
    text-align: center;
}

.fc-day-header {
    position: relative;

    span {    
        background: color(gray, darkest);
        color: color(gray, lightest);
        font-size: 24px;
        height: $button-size-large;
        line-height: $button-size-large;
        position: absolute;
        right: 0;
        top: 0;
        width: $button-size-large;
    }  
}

.fc-today {
    background: rgba(color(primary, mid), 0.2) !important;
}

.fc-sun,
.fc-sat {
    background: color(gray, light);
}

.fc-dragging,
.dragging {
    cursor: grabbing !important;
}

.dark-mode {
    .fc-unthemed th, 
    .fc-unthemed td, 
    .fc-unthemed thead, 
    .fc-unthemed tbody, 
    .fc-unthemed .fc-divider, 
    .fc-unthemed .fc-row, 
    .fc-unthemed .fc-content, 
    .fc-unthemed .fc-popover, 
    .fc-unthemed .fc-list-view, 
    .fc-unthemed .fc-list-heading td {
        border-color: rgba(color(gray, mid), 0.2);
    }

    .fc-day-header span {    
        background: rgba(color(gray, lightest), 0.5);
        color: color(gray, darkest);
    }

    .fc-sun,
    .fc-sat {
        background: color(gray, darkest);
    }
}