// Colors accessible via nested maps
$color-map: (
    primary: (
        lightest: #ebf3fb,
        light   : #3788d8,
        mid     : #2c6cac,
        dark    : #1b446c,
        darkest : #102840
    ),
    secondary: (
        lightest: #fbe6db,
        light   : #f6c1a6,
        mid     : #ed844e,
        dark    : #d57646,
        darkest : #a55c36
    ),
    gray: (     
        lightest: #f9f9f9,
        light   : #f1f1f1,
        mid     : #dddddd,
        dark    : #555555,
        darkest : #333333
    ),
    alert: (
        error   : #ff0000,
        caution : #ff9900,
        success : #009999
    )
);

// Media query upper sizes
$mobile-screen: 480px;
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1366px;
